Source: go-daemon-debian-pkg-skel
Section: net
Priority: extra
Maintainer: Sergio Rubio <rubiojr@frameos.org>
Build-Depends: debhelper (>= 8.0.0),
               golang-go
Standards-Version: 3.9.2
#Vcs-Git: git://github.com/rubiojr/push-mtr.git
#Vcs-Browser: http://github.com/rubiojr/push-mtr

Package: go-daemon-debian-pkg-skel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg-dev
Built-Using: ${misc:Built-Using}
Description: Testing Go Debian packages
 This is the description.
